{% extends 'layout.html' %}

{% block title %}AI Input{% endblock title %}

{% block header %}Welcome{% endblock header %}

{% block inside_body %}
<form action="/process" method="post">            
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="patients_name" placeholder="Enter name" required><br>
    <label class="form-label">Location</label>
    <input class="form-control" type="text" name="patients_address" placeholder="Address" required><br>
    <label class="form-label">Your Message</label><br>
    <textarea class="form-control" name="query" rows="8" cols="40" placeholder="Type query" required></textarea><br>
    <label class="form-label">Form upload:</label>
    <input class="form-control" id="formFile" type="file" name="file"><br>                
    <input class="btn btn-outline-primary" type="submit" value="Process">
</form>
{% endblock inside_body %}
