{% extends 'layout.html' %}

{% block title %}Send to mailbox{% endblock title %}

{% block header %}<em>EMail</em>{% endblock header %}

{% block inside_body %}
<h3>{{ subject }}</h3> 
<br>
<h5>{{ pquery }}</h5>
<hr>
<a href="{{ url_for('login') }}">New action</a>
<hr>
<form action="/sent" method="post">            
    <label class="form-label">Recepient</label>
    <input class="form-control" type="text" name="receiver" placeholder="email address" required><br>
    <label class="form-label">Subject</label>
    <input class="form-control" type="text" name="subject" value={{ subject }} required><br>
    
    <label class="form-label">Message</label><br>
    <textarea class="form-control" name="message" rows="8" cols="40" value={{ completion }} required></textarea><br>
            
    <input class="btn btn-outline-primary" type="submit" value="Send">
</form>

<hr>
<p>{{ subject }}</p>
<p>{{ completion }}</p>
<p>{{ pquery }}</p>
<p></p>
<hr>
{% endblock inside_body %}